<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Entrada</title>
</head>
<body>
    <form method="post">
        <label for="DBN">Digite o DBN da escola que deseja excluir:</label><br>
        <input type="text" id="DBN" name="DBN"><br><br>
        <input type="submit" name="buscar" value="Buscar">
    </form>
    <button onclick="location.href='/'">Voltar ao Início</button>
</body>
</html>
