<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao meu CRUD</title>
</head>
<body>
    <h1>Bem-vindo ao meu CRUD</h1>
    <p>Escolha uma das opções abaixo:</p>
    <button onclick="location.href='/criacao'">Criar Entrada</button>
    <button onclick="location.href='/leitura'">Ler Entradas</button>
    <button onclick="location.href='/atualizacao'">Atualizar Entrada</button>
    <button onclick="location.href='/excluir'">Excluir Entrada</button>
</body>
</html>